/obj
/bin/Release/net471/Facepunch.Steamworks.Win64.dll
/bin/Release/net471/InfinityMiningDensity.pdb
/bin/Release/net471/LZ4.dll
/bin/Release/net471/Mono.Cecil.dll
/bin/Release/net471/Mono.WebBrowser.dll
/bin/Release/net471/MonoMod.Utils.dll
/bin/Release/net471/MonoMod.Utils.xml
/bin/Release/net471/NaughtyAttributes.Core.dll
/bin/Release/net471/netstandard.dll
/bin/Release/net471/Newtonsoft.Json.dll
/bin/Release/net471/Ookii.Dialogs.dll
/bin/Release/net471/RG.ImGui.dll
/bin/Release/net471/RG.ImGui.Unity.dll
/bin/Release/net471/RW.RocketNet.dll
/bin/Release/net471/Sentry.dll
/bin/Release/net471/Sentry.Microsoft.Bcl.AsyncInterfaces.dll
/bin/Release/net471/Sentry.System.Collections.Immutable.dll
/bin/Release/net471/Sentry.System.Memory.dll
/bin/Release/net471/Sentry.System.Reflection.Metadata.dll
/bin/Release/net471/Sentry.System.Runtime.CompilerServices.Unsafe.dll
/bin/Release/net471/Sentry.System.Text.Json.dll
/bin/Release/net471/Sentry.System.Threading.Tasks.Extensions.dll
/bin/Release/net471/Sentry.Unity.dll
/bin/Release/net471/System.Data.Common.dll
/bin/Release/net471/System.Diagnostics.StackTrace.dll
/bin/Release/net471/System.Diagnostics.Tracing.dll
/bin/Release/net471/System.Globalization.Extensions.dll
/bin/Release/net471/System.IO.Compression.dll
/bin/Release/net471/System.Net.Http.dll
/bin/Release/net471/System.Net.Sockets.dll
/bin/Release/net471/System.Runtime.CompilerServices.Unsafe.dll
/bin/Release/net471/System.Runtime.Serialization.Primitives.dll
/bin/Release/net471/System.Security.Cryptography.Algorithms.dll
/bin/Release/net471/System.Security.SecureString.dll
/bin/Release/net471/System.Threading.Overlapped.dll
/bin/Release/net471/System.Xml.XPath.XDocument.dll
/bin/Release/net471/UniTask.dll
/bin/Release/net471/Unity.Burst.dll
/bin/Release/net471/Unity.Burst.Unsafe.dll
/bin/Release/net471/Unity.Collections.dll
/bin/Release/net471/Unity.Collections.LowLevel.ILSupport.dll
/bin/Release/net471/Unity.Mathematics.dll
/bin/Release/net471/Unity.TextMeshPro.dll
/bin/Release/net471/UnityEngine.AccessibilityModule.dll
/bin/Release/net471/UnityEngine.AIModule.dll
/bin/Release/net471/UnityEngine.AndroidJNIModule.dll
/bin/Release/net471/UnityEngine.AnimationModule.dll
/bin/Release/net471/UnityEngine.ARModule.dll
/bin/Release/net471/UnityEngine.AssetBundleModule.dll
/bin/Release/net471/UnityEngine.AudioModule.dll
/bin/Release/net471/UnityEngine.ClothModule.dll
/bin/Release/net471/UnityEngine.ClusterInputModule.dll
/bin/Release/net471/UnityEngine.ClusterRendererModule.dll
/bin/Release/net471/UnityEngine.ContentLoadModule.dll
/bin/Release/net471/UnityEngine.CoreModule.dll
/bin/Release/net471/UnityEngine.CrashReportingModule.dll
/bin/Release/net471/UnityEngine.DirectorModule.dll
/bin/Release/net471/UnityEngine.dll
/bin/Release/net471/UnityEngine.DSPGraphModule.dll
/bin/Release/net471/UnityEngine.GameCenterModule.dll
/bin/Release/net471/UnityEngine.GridModule.dll
/bin/Release/net471/UnityEngine.ImageConversionModule.dll
/bin/Release/net471/UnityEngine.IMGUIModule.dll
/bin/Release/net471/UnityEngine.InputLegacyModule.dll
/bin/Release/net471/UnityEngine.InputModule.dll
/bin/Release/net471/UnityEngine.JSONSerializeModule.dll
/bin/Release/net471/UnityEngine.LocalizationModule.dll
/bin/Release/net471/UnityEngine.NVIDIAModule.dll
/bin/Release/net471/UnityEngine.ParticleSystemModule.dll
/bin/Release/net471/UnityEngine.PerformanceReportingModule.dll
/bin/Release/net471/UnityEngine.Physics2DModule.dll
/bin/Release/net471/UnityEngine.PhysicsModule.dll
/bin/Release/net471/UnityEngine.PropertiesModule.dll
/bin/Release/net471/UnityEngine.ScreenCaptureModule.dll
/bin/Release/net471/UnityEngine.SharedInternalsModule.dll
/bin/Release/net471/UnityEngine.SpriteMaskModule.dll
/bin/Release/net471/UnityEngine.SpriteShapeModule.dll
/bin/Release/net471/UnityEngine.StreamingModule.dll
/bin/Release/net471/UnityEngine.SubsystemsModule.dll
/bin/Release/net471/UnityEngine.TerrainModule.dll
/bin/Release/net471/UnityEngine.TerrainPhysicsModule.dll
/bin/Release/net471/UnityEngine.TextCoreFontEngineModule.dll
/bin/Release/net471/UnityEngine.TextCoreTextEngineModule.dll
/bin/Release/net471/UnityEngine.TextRenderingModule.dll
/bin/Release/net471/UnityEngine.TilemapModule.dll
/bin/Release/net471/UnityEngine.TLSModule.dll
/bin/Release/net471/UnityEngine.UI.dll
/bin/Release/net471/UnityEngine.UIElementsModule.dll
/bin/Release/net471/UnityEngine.UIModule.dll
/bin/Release/net471/UnityEngine.UnityAnalyticsCommonModule.dll
/bin/Release/net471/UnityEngine.UnityAnalyticsModule.dll
/bin/Release/net471/UnityEngine.UnityConnectModule.dll
/bin/Release/net471/UnityEngine.UnityCurlModule.dll
/bin/Release/net471/UnityEngine.UnityWebRequestAssetBundleModule.dll
/bin/Release/net471/UnityEngine.UnityWebRequestAudioModule.dll
/bin/Release/net471/UnityEngine.UnityWebRequestModule.dll
/bin/Release/net471/UnityEngine.UnityWebRequestTextureModule.dll
/bin/Release/net471/UnityEngine.UnityWebRequestWWWModule.dll
/bin/Release/net471/UnityEngine.VehiclesModule.dll
/bin/Release/net471/UnityEngine.VFXModule.dll
/bin/Release/net471/UnityEngine.VideoModule.dll
/bin/Release/net471/UnityEngine.VirtualTexturingModule.dll
/bin/Release/net471/UnityEngine.VRModule.dll
/bin/Release/net471/UnityEngine.WindModule.dll
/bin/Release/net471/UnityEngine.XRModule.dll
/bin/Release/net471/0Harmony.dll
/bin/Release/net471/Assembly-CSharp.dll
/bin/Release/net471/Assembly-CSharp-firstpass.dll
/bin/Release/net471/BepInEx.dll
/bin/Release/net471/BepInEx.xml
/bin/Release/net471/ch.sycoforge.Flares.dll
/bin/Release/net471/ch.sycoforge.Unity.Runtime.dll
/bin/Release/net471/DOTween.dll
